
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Styles */
.text_primary
{
    color: #FD6E0A;
}
.dark-02
{
    color: #474747;
}
.btn_primary
{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.secondary_bg
{
    background-color: #FFF8F3;
}
/* section styles */
.section_tittle
{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.section_description
{
    font-size: 18px;
    color: #757575;
    font-weight: regular;
}
.header
{
    background-image:url(../images/developer.png) ,url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 200px;
}
    
.nav_tittle
{
    font-size: 45px;
    font-weight: 800;
}
nav ul
{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner Styles */
.banner
{
    display: flex;
    justify-content:space-between ;
    margin: 0 35px 0 230px;
}
.banner_content
{
    max-width: 580px;
}

.banner_greetings
{
    font-size: 45px;
    font-weight: 600;
}
.banner_tittle
{
    font-weight: bold;
    font-size:85px ;
}
.banner_photo{
    width: 580px;
}
/* main styles */
main
{
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    
    

}
main section 
{
     margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */


.about
{
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
   
    border:1px solid #181818;
    
}

.about_items
{
    display: flex;
    justify-content: space-around;
}

.per_item_description
{
    font-size: 20px;
    font-weight: bold;
    margin: 50px;

}
/* what i do section */

.wid_tittle
{
    font-size: 35px;
    font-weight: bold;
    color : #181818;
    text-align: center;
}
.wid_description
{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
}
/* skill styles */
.skills_container
{
    display: flex;
    gap: 24px;
   
}
.skill
{
     padding: 33px;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
}